<!--First row-->
<div class="row" ng-controller="eachArtistController" ng-repeat="artist in artists | toArray | filter:{name:name}">

    <!--Featured image-->
    <hr class="extra-margin">
    <div class="col-md-7">
        <div class="view overlay hm-white-light z-depth-1-half">
            <img src="{{artist.photo}}" class="img-fluid" alt="">
            <div class="mask"></div>
        </div>
    </div>
    <!--/.Featured image-->

    <!--Post excerpt-->   
    <div class="col-md-5">
        <a href="#!"><h2 class="post-title">{{artist.name}}</h2></a>
        <p class="lead">Name: {{artist.name}}</p>
        <p class="lead">Type of music: {{artist.typemusic}}</p>
        <p class="lead">Type of band: {{artist.typeband}}</p>
    </div>
    <!--/.Post excerpt-->
</div>
